<div class="selected-node-position">
    <span>get selected node position: </span>
    <span>x </span>
    <ui-num-input ref="nodePositionXRef" class="input-style" :value="nodePosition.x" @change="theXChanged" preci="3"></ui-num-input>
    <span>y </span>
    <ui-num-input ref="nodePositionYRef" class="input-style" :value="nodePosition.y" @change="theYChanged" preci="3"></ui-num-input>
    <span>z </span>
    <ui-num-input ref="nodePositionZRef" class="input-style" :value="nodePosition.z" @change="theZChanged" preci="3"></ui-num-input>
</div>
